.card-header,
.card-body,
.card-footer {
  padding: 1rem;
}

.card-header {
  text-align: center;
  h2 {
    padding: 0rem;
    margin: 0.25rem;
  }
  p {
    margin: 0.25rem;
    font-size: 1rem;
  }
}

.card-footer {
  text-align: center;
  font-size: 0.75rem;
}

.text-center {
  margin: 0.5rem;
}
